<% if @power_generators %>
  <h2>Encontramos <%= @power_generators.count %> resultado(s) de painel solar ideal para o seu consumo!</h2>

  <% @power_generators.each do |pg| %>
    <%= link_to pg.name, root_path %><br/>
  <% end %>

<% else %>
  <p>Nenhum resultado foi encontrado</p>
<% end %>